* {
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 9em;
    background: linear-gradient(200deg, #70577B, #fff);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}
/* размер экрана меньше 1000 убираем меню */
@media(max-width:1000px){
    .menu-links{
        display: none;
    }
    
    /* убираем картинки в кард */
    .cardfoto {
        display: none;
    }


    .logoimg, img, {
        margin: auto;
    }


}


/* ссылки в header */
.menu-links {
    margin-right: 0;
}

.menu-list {
    margin-top: 7%;
    display: flex;
    background: linear-gradient(45deg, #C7D8F2, #FFC2C2);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.menu-item {
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #000;
    font-size: 100%;
    margin-left: 1.5em;
}
.menu-item:hover {
    color: rgb(97, 96, 141);
}

.menu-list-item {
    display: flex;

}

.menu-list-item:last-child {
    margin-right: 1em;
}

/* стиль лого */
.logoimg {
    margin-top: 10%;
    display: block;
    width: 100px;
    border-radius: 30%;
    background: linear-gradient(#CC9292, #1fb5d6);
}
.logoimg:hover {
    opacity: 0.4;
}



/* main menu */
.countainermain {
    display: flex;
    flex-direction: column;
}

.boxmenu {
    display: flex;
    max-width: 80%;
    margin: auto;
    height: 1000px;    /*поменять раземеры  */
    background: linear-gradient(#EEF8FD, #beb2d3) ;
}

/* карточки статьи */
h2 {
    text-align: center;
}
figure {
    height: 200px;
}

.card-name {
    display: flex;
    margin: 2em auto;
    background:linear-gradient(75deg, #fff, #FEB6B6);
    height: 20%;
    width: 80%;
    border-radius: 30px;
}

.textcard {
    font-family: 'Comfortaa', cursive;
    color: #000;
    font-size: 0.7em;
    text-decoration: none;
    margin: 5%;
    /* text-align: center; */
}


.imgcard {
    display: flex;
    border-radius: 30px;
    width: 200px;
}


/* footer */
