* {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: auto;
    margin-right: auto;
    max-width: 1200px;
}

.header-container {
    display: flex;
    justify-content: space-between;
    height: 7em;
    background: linear-gradient(200deg, #70577B, #fff);
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 30px;
}


/* размер экрана меньше 1000 убираем меню */
@media(max-width:1000px) {
    /* ссылк навигации */
    .logoimg, img {
        margin: auto;
    }
/* photo me */
    .me {
        opacity: 0.5;
    }
 
    .aboutme-container {
        flex-direction: column;
    }


    /* hamburger */
.menu-btn {
	width: 30px;
	height: 30px;
	position: relative;
	z-index:2;
	overflow: hidden;
}
.menu-btn span {
	width: 30px;
	height: 2px;
  margin-left: auto;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: #222222;
	transition: all 0.5s;
}
.menu-btn span:nth-of-type(2) {
	top: calc(50% - 5px);
}
.menu-btn span:nth-of-type(3) {
	top: calc(50% + 5px);
}

.menu {
/*   max-width: 1200px; */
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	padding: 15px;
	transform: translateX(100%);
	transition: transform 0.6s;
}
.menu.active {
	transform: translateX(0%)
}
.menu li {
	list-style-type: none;
}

.menu-list {
   display: flex;
   flex-direction: column;
  aling-item: center;
}

}



/* ссылки в header */
.menu {
    margin-right: 0;
}

.menu-list {
    margin-top: 7%;
    display: flex;
    background: linear-gradient(45deg, #C7D8F2, #FFC2C2);
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}


.menu-item {
    font-family: 'Comfortaa', cursive;
    text-decoration: none;
    /* text-transform: uppercase; */
    color: #000;
    font-size: 100%;
    margin-left: 1.5em;
}
.menu-item:hover {
    color: rgb(97, 96, 141);
}

.menu-list-item {
    display: flex;

}

.menu-list-item:last-child {
    margin-right: 1em;
}

/* стиль лого */
.logoimg {
    margin-top: 15%;
    display: block;
    width: 70px;
    border-radius: 30%;
    background: linear-gradient(#CC9292, #1fb5d6);
}
.logoimg:hover {
    opacity: 0.4;
}



/* main menu */
.countainermain {
    display: flex;
    flex-direction: column;
}

.boxmenu {
    display: flex;
    /* max-width: 90%; */
    /* height: 110px; */
    margin: auto;
    background: linear-gradient(#EEF8FD, #beb2d3) ;
}

/* aboutme */
.aboutme-container {
    display: flex;
}

.aboutme {
    display: flex;
    text-align: center;
}

.aboutmetext {
    margin: 0 3%;
    text-align: center;
}

/* photo */
.me {
    margin: 0 2%;
    width: 200px;
    opacity: 0.7;
    border-top-left-radius: 39px;
    border-bottom-right-radius: 39px;

}


/* карточки статьи */
h2 {
    text-align: center;
}

li {
    /* list-style-type: circle; */
}

.card-name {
    display: flex;
    margin: 2em 1em;
    background:linear-gradient(75deg, #fff, #fbd2d2);
    border-radius: 30px;
}

.textcard {
    font-family: 'Comfortaa', cursive;
    color: #000;
    font-size: 100%;
    text-decoration: none;
    margin: 5%;
}


.imgcard {
    display: flex;
    border-radius: 30px;
    justify-content: space-between;
}


/* footer */

.footer-container {
    display: block;
    justify-content: space-between;
    height: 4em;
    background: linear-gradient(200deg, #70577B, #fff);
    border-top-right-radius: 30px;
    border-top-left-radius: 30px;
}

/* social img */


.social-icon {
    display: flex;
    justify-content: center;
    padding: 0;
}

.markersocial {
    list-style-type: none;
    margin-left: 1em;
    margin-right: 1em;
}

.socialimg {

    display: flex;
    margin-top: 1em;
    width: 40px;
    border-radius: 30%;
    border: solid 1px black;
    /* background: linear-gradient(#CC9292, #1fb5d6); */
    /* justify-content: space-between; */
    
}

.socialimg:hover {
    background-color: #beb2d3;
}

